.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #749c96;
  align-items: center;
  /* justify-content: center; */

}

.custom-file{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;

}

.App__Form {
  overflow: auto;
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #2E4158;
  box-shadow: 0px 10px 50px #080808;
  margin-top: 15px;

}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #74b6ac;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.forgetPass-text{
  color: #a7b4c5;
  font-size: 1.2em;
  display: flex;
  margin-top: 10px;
  
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 30px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
  margin-top: 15px;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 0px;
}

.FormField__Input::placeholder {
  color: #5ED0C0;
}

.FormField__Button {
  background-color: #74b6ac;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 12px 65px;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0px 10px 50px #08080885;
  
}

.FormField__Button:hover{
  color: #74b6ac;
  background-color: white;
  border: 2px solid #74b6ac;
}


.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #a2a9b1;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
  margin-top: 20px;
  margin-bottom: 10px;

}

.FormField__ForgetPass--Link {
  color: rgb(207, 201, 201);
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
  font-size: .8em;
}
.FormField__ForgetPass--Link:hover{
  border-bottom:2px solid #199087;
  font-size: .9em;

} 
.errorMassage {
  color: #d16c6c;
  font-size: 0.9em;
}

.errorInput {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #d16c6c;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 0px;
  
}

.fileCustom__Input{
  width: 85%;
  background-color: transparent;
  color: #939eac;
  outline: none;
  border: 2px solid #199087;
  padding-bottom: 0px;
  margin-top: 0px;
  border-radius: 5px;
}
.img-holder{
  width: 85%;
  height: 300px;
  border: 3px solid #199087;
  border-radius: 5px;
  margin: 1rem;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.NavBar{
  display: flex;
  flex-direction: row;
  /* width: 750px; */
  width: 85%;
  height: 50px;
  color: white;
  background-color: #2E4158;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 10px 50px #080808;
}

.NavBarItem{
  height: 50px;
  color: #b3c1d3;
  background-color: #2E4158;
  font-weight: 300;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  text-decoration: none;
  /* margin-left: 20px; */
  border-radius: 20px;

}

.NavBarItem--Active{
  color: white;
  background-color: #199087;
  border-bottom: 1px solid #199087;
  border-radius: 20px;

}

.NavBarItem-LogOut{

  height: 50px;
  color: #e28a84;
  background-color: #2E4158;
  font-weight: 300;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
}

.errorMassage_Image{
  color: #d16c6c;
  font-size: 1.5em;
  margin-top: 10px;

}